/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}





/* header */

.fixed-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  .site-logo {
    width: 50px;
  }

  .main-navigation {
	  display: flex;
    justify-content: space-around;
    a {
      font-weight: bold;
    }
    li {
      padding-left: 25px;
    }
  }

  .site-description {
    display: none;
  }
}

/* footer */
footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background: url('../.././assets/images/dark-wood.png');
  background-size: cover;
  background-repeat: repeat;
  color: $color__text-footer;

  h3 {
    color: $color__footer-h3;
  }

  span {
    text-transform: uppercase;
  }

  .company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .footer-logo {
      max-width: 300px;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .social-media {
      display: flex;
    
      .fa-phone {
        transform: rotate(90deg);
      }
    }
  }

  .copyright {
    text-align: center;
  }
}
