// * {
//   border: 1px dashed #dae9d6;
// }

a {
  text-decoration: none;
  color: #248a83;
  text-transform: uppercase;
  a:visited {
    color: #248a83;
  }
}

.site {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-header {
  
  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 999;
    width: 100vw;
    border-bottom: 1px solid #e1e1e1;
    margin-left: auto;
    margin-right: auto;
    .site-logo-white {
      display: block;
      width: 50px;
    }
    .site-logo {
      display: none;
      width: 50px;
    }
    .main-navigation {
      width: auto;
      display: flex;
      align-content: center;
      justify-content: center;

      li {
        padding-left: 1.5rem;
      }
      .nav-main {
          display: flex;
          align-content: center;

      }
      .menu-main-menu-container {
        margin-top: 1.5rem;
        font-family: "Novecento Sans Web",sans-serif;
      }
      fieldset {
        border: none;
        margin-top: 0.7rem;
        button {
          background: none;
          box-shadow: none;
          border: none;
        }
        .search-submit {
          padding-left: 0;
          padding-right: 0;
        }
        i {
          color: #248a83;
        }
      }
    }
  }
}

.product-terms {
  margin-left: 0;
  padding-left: 0;
}
