.tax-product-type {
  .logos {
    .site-logo {
      display: unset;
    }
    .site-logo-white {
      display: none;
    }
  }
  .page-header {
    border-bottom: 1px dashed #c8c8c8;
    padding-bottom: 1rem;
    .tax-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }
  .tax-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    // margin-bottom: 1.5rem;
    margin-top: 3rem;

    img {
      height: 260px;
      width: 100%;
      object-fit: cover;
      border-bottom: 4px solid #e1e1e1;
    }

    .product-wrapper {
      border: 1px solid #e1e1e1;
      margin-bottom: 0;
      .type-product {
        margin-bottom: 0;
      }
      .product-info {
        width: 260px;
        display: flex;
        padding: 1rem;
        justify-content: space-between;
      }

      .title {
        white-space: nowrap;
      }

      .dots {
        flex-grow: 1;
        overflow: hidden;
        &::after {
          content: '.........................................................';
        }
      }
    }
  }
}
